[2013-04-14 19:19] pearkes opened #1 "Specifying ID on FindDroplet Breaks"
Currently, when you specify an ID while finding a droplet (i.e restarting, halting), things break.

[2013-04-15 15:15] #1 closed, assigned to pearkes

[2013-04-15 15:28] pearkes opened #2 "Add command to check for version"
So the user knows what version they have.

[code]

[2013-04-15 16:21] pearkes opened #3 "Return Proper Exit Codes"
Error's, successes! Make it useful for pipes and other scripts.

[2013-04-15 16:22] pearkes opened #4 "Option to Disable Fuzzy Matching"
In the ~/.tugboat configuration, or a global flag?

[2013-04-15 16:23] pearkes opened #5 "Option to Disable Loud Output"
Have some sort of 'quiet' mode that isn't so noisy with confirming commands, actions.

[2013-04-15 16:26] pearkes opened #6 "Machine Readable Flag"
A global flag to make the output more machine readable. Currently it's optimized for humans.

Maybe:

    --machine-readable

[2013-04-15 16:34] pearkes opened #7 "Disable Confirmations Flag"
Just like other CLI tools:

[code]

[2013-04-15 18:25] matt-oakes opened #8 "Unable to authorise"
I'm attempting to authorise but I keep getting this error:

[code]

These values are defiantly correct and have no extra whitespace around them. I've tried installing the gem both as my normal user and also using sudo.

I'm running OS X 10.8.2, ruby 1.9.3p194 and gem 1.8.25. I've verified that I can access Digital Ocean by browsing to the website and pinging the from the command line.

Any ideas w

[2013-04-16 13:03] #8 closed, assigned to nobody

[2013-04-16 14:35] stephenjamieson opened #9 "Destroy droplet without confirmation"
Should be able to destroy without confirmation for automated deletion.  `tugboat help destroy` does not list this as an option.

[2013-04-16 14:49] #9 closed, assigned to nobody

[2013-04-17 12:46] PhilETaylor opened #10 "cli.rb:175: syntax error, unexpected ')', expecting '=' (SyntaxError)"
Here is my complete (short) journey with tugboat that came to a very quick and immediate end :-(

sudo gem install tugboat
Password:
Building native extensions.  This could take a while...
Successfully installed thor-0.18.1
Successfully installed multipart-post-1.2.0
Successfully installed faraday-0.8.7
Successfully installed faraday_middleware-0.9.0
Successfully installed json-1.7.7
Successfully

[2013-04-18 17:23] #10 closed, assigned to nobody

[2013-04-22 14:05] PhilETaylor opened #12 "Allow configurable SSH port"
No one (sensible) leaves SSH on port 22 :-) Please allow us to configure which port ssh connects to

[2013-04-22 23:01] #2 closed, assigned to pearkes

[2013-04-23 08:54] #7 closed, assigned to nobody

[2013-04-23 12:21] #12 closed, assigned to nobody

[2013-04-23 17:00] pearkes opened #17 "Add a command to list regions"
`tugboat regions` should display a list of regions and their ID's.

[2013-04-24 07:36] #17 closed, assigned to nobody

[2013-04-25 06:00] blom opened #20 "Supporting MRI 1.8.7"
What do you think about supporting MRI 1.8.7, and testing against it on Travis? The tests already pass on 1.8.7. It is EOL in June and all, but plenty of people will use it for some time to come. We would just need to do something about the `debugger` development dependency as it won't install on < 1.9.2. We could remove it from the gemspec, or move it to the Gemfile and use `:platforms`.

[2013-04-26 08:16] #20 closed, assigned to nobody

[2013-04-26 08:17] #3 closed, assigned to nobody

[2013-05-01 14:50] rbrcurtis opened #26 "pass through ssh commands"
WOuld it be possible to pass through commands to ssh when using tugboat ssh <name> "ls" such that "ls" would gets passed through to ssh to be executed on the remote machine?  This would aid significantly in using tugboat in scripting.

Also, I love this tool. Just sayin.

[2013-05-01 19:55] #26 closed, assigned to nobody

[2013-05-04 08:02] pearkes opened #29 "Release 0.0.5"
Don't know if we're there yet, but creating this issue to track when the best time to release 0.0.5 is.

[2013-05-04 11:00] #29 closed, assigned to nobody

[2013-05-18 16:08] pkmishra opened #37 "Error: Faraday::Error::ParsingError n-1.6.7/lib/json/common.rb:149:in `parse': 757"
Initially everything worked fine however after a while I am not able to do anything and getting following error with every command.
Using OSX 1.7.5

[code]

[2013-05-18 18:37] #37 closed, assigned to nobody

[2013-06-20 04:25] mitchellh opened #41 "tugboat authorize says I must run... authorize"
See here: http://d.pr/i/pjsK

That last line is a bit redundant and I'm not sure why it is saying that.

[2013-06-20 08:07] pearkes opened #42 "Scrub API Keys from Logs"
We should replace them with something innocuous. As we're just falling back to Faraday's logging, I'm not sure if this is possible or how we might do it.

[2013-06-23 13:27] pearkes opened #44 ""Wait" Tool"
I think it'd be pretty sweet to have a tool like this:

[code]

That would poll the droplet every N seconds and say "ready" or something like that when it gets the state you pass in with `-s` or `--state`.

[2013-06-25 14:57] blom opened #47 "New release?"
Maybe it's time for a new release soon? The 0.0.5 gem gives the following error message when an image is not supplied to `tugboat create` (fixed in #39): _You specified an invalid image for Droplet creation_.

[2013-06-25 15:00] #44 closed, assigned to nobody

[2013-06-25 15:13] #47 closed, assigned to nobody

[2013-07-10 12:53] #41 closed, assigned to nobody

[2013-07-15 05:46] larinam opened #50 "Droplet migration between datacenters"
There is a VM in one DC, e.g. AMS1. I want to migrate it to the NY1.
I want to execute:
`tugboat migrate my-droplet --from=2 --to=1`
and in a couple of minutes see my droplet active in the desired datacenter.

[2013-07-15 12:29] pearkes opened #51 "Turn Backups on/off"
[code]

This blocks #50

[2013-07-28 18:55] davidcelis opened #52 ""undefined method `each' for nil:NilClass" in every endpoint"
A strange bit is that I was able to run `tugboat sizes` once after authorizing, and it worked. However, every request using tugboat since that has failed. Example stacktrace:

[code]

Almost every stacktrace looks the same; every endpoint that lists something is affected for me. If the endpoint is supposed to do something with a single droplet, the undefined method is instead `each_with_index`. e.

[2013-07-29 14:45] #52 closed, assigned to nobody

[2013-08-01 20:22] petems opened #53 "Handle 401s more gracefully..."
Related to https://github.com/pearkes/tugboat/issues/52

We should handle credentials being incorrect/expired in a nicer way. I think we'll have to do this upstream on `digital_ocean` and then pull in the changes.

We can have some sort of "Catch Faraday 401 error, tell the user to check their credentials and then exit" rather than the default full stacktrace that Faraday provides.

[2013-08-02 16:28] petems opened #54 "Release 0.0.7"
Can we release 0.0.7 to Rubygems @pearkes :smiley_cat:?

[2013-08-02 17:28] #54 closed, assigned to nobody

[2013-08-08 10:37] petems opened #56 "Add ability to set default region"
Add a field into `.tugboat` that gives a default region when doing a droplet creation, so when you create a droplet it will use that value by default.

[2013-08-09 10:23] #53 closed, assigned to nobody

[2013-08-15 01:25] petems opened #59 "Tugboat rename droplet command"
Add `tugboat rename` command

From the API:

[code]

[2013-08-15 11:24] petems opened #60 "Add SSH key to account"
Something like `tugboat keys add ~/.ssh/awesome_key.pub`

From the API

[code]

[2013-08-23 19:57] #42 closed, assigned to nobody

[2013-09-04 12:16] #56 closed, assigned to nobody

[2013-09-06 09:28] juasiepo opened #63 "Manage DNS records"
It would be nice be able to manage DNS records using tugboat too

I am doing a workaround (sorry not good at ruby) right now using:

**tugboat create server.domain.tld -i 303619 -r 2 -k 32527**
Wait till server becomes active:
**tugboat wait server.domain.tld --state active**
Get the IP address from
**tugboat info "#{SERVER_TO_DEPLOY}" |grep IP|awk {'print $2'}**

And then use a curl script (using

[2013-09-07 09:16] pearkes opened #65 "Release 0.0.8"
I just [released](http://rubygems.org/gems/tugboat/versions/0.0.8) version 0.0.8.

Changelog [here](https://github.com/pearkes/tugboat/blob/master/CHANGELOG.md#008-september-7-2013). In short, we now have default config thanks to @petems!

To set-up defaults on an existing Tugboat installation, run `gem install tugboat` and then re-run `tugboat authorize`. You may want to `cat ~/.tugboat` first so

[2013-09-07 09:16] #65 closed, assigned to nobody

[2013-09-28 08:46] andpro opened #66 "Rebuild a droplet with a new image"
https://api.digitalocean.com/droplets/[droplet_id]/rebuild/?image_id=[image_id]&client_id=[your_client_id]&api_key=[your_api_key]

[2013-10-03 15:18] #60 closed, assigned to nobody

[2013-10-16 19:17] ipodfrik opened #67 "Cannot destroy droplet"
I am unable to destroy a droplet.
After the droplet is found is the confirmation is asked, I hit y and this is what I get.

[code]

[2013-10-16 20:23] #67 closed, assigned to nobody

[2013-10-16 22:56] agile-deployer opened #68 "Enable Private Networking"
Might it be possible to enable private networking when creating a droplet from a snapshot using tugboat?

[2013-10-28 15:02] Sherlock1979 opened #69 "Option to manage SSH keys"
Hi,

At the moment tugboat is capable of listing the SSH keys, but there is no feature to add, edit and destroy keys. The DO API is able to do these. Could you please implement these features?

Thanks,

David

[2013-10-28 15:12] #69 closed, assigned to nobody

[2013-10-28 16:42] Sherlock1979 opened #70 "Problem with SSL certificate"
Hi,

I have been using tugboat without any issues for a few weeks now. All of the sudden it stopped working and says:

user@computer:~$ tugboat droplets
<b>SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed!</b>
/var/lib/gems/1.8/gems/tugboat-0.0.8/lib/tugboat/middleware/authentication_middleware.rb:24:in `call': undefined method`status' for nil:NilClas

[2013-10-28 16:58] #70 closed, assigned to nobody

[2013-11-06 16:49] juasiepo opened #71 "Timeout while executing tugboat wait"
Hi

I am having the following error:

[code]

It would be very useful if the timeout parameter could be modified on the command line.
tugboat wait do6.example.com --timeout 300 --state active

Thank you

[2013-11-11 11:19] pkhamre opened #72 "Add support to Destroy Image"
It would be nice if `tugboat` could support to destroy images from command line.

[2013-11-22 06:51] nofxx opened #78 "Smart group my droplets"
Planning to make droplets list more clear, currently (if #77 gets merged) , supposing 2 projects, multiple servers you'll end up with something like:

[code]

I propose a split and group with '-' hifens:

[code]

Kinda like linode groups. We could also do actions on groups, like god (monit).
You may not provide any hifen, so the listing will be the same. Also, maybe a option to don't group.
Any id

[2013-11-22 10:38] #68 closed, assigned to nobody

[2013-12-05 20:16] rained23 opened #79 "Unable to authorize tugboat"
I tried to authorize it but I receive the following error

[code]

[2013-12-06 10:08] #79 closed, assigned to nobody

[2013-12-30 12:54] petems opened #81 "Destroy data by default..."
tl;dr https://github.com/fog/fog/issues/2525

Not sure what the full craic is with this, but we might want to switch to prompting the user if they want to destroy data on the VM's _or_ just doing it by default.

[2014-01-09 14:46] #81 closed, assigned to nobody

[2014-01-09 17:09] sethvargo opened #83 "Add to homebrew?"
It'd be awesome if this was in homebrew :smile:

[2014-01-12 05:14] FiloSottile opened #84 "certificate verify failed"
With the latest version, from 2 different networks.

Before going tinfoil, did DO change certificate? And big props for doing cert pinning, if that is the case!

(Ah, BTW, SSLv3? :unamused:)

[code]

[2014-01-12 05:18] #84 closed, assigned to nobody

[2014-01-12 06:15] FiloSottile opened #85 "Write to stderr to be able to distinguish ssh output"
When running `tugboat ssh` there is no way to tell tugboat output from ssh one.

[2014-01-12 06:15] FiloSottile opened #86 "Add a --quiet option"
A `--quiet` global option would be useful, with result being returned by exit code.

This would be another solution to #85

[2014-01-21 16:24] #83 closed, assigned to nobody

[2014-01-25 17:59] #86 closed, assigned to nobody

[2014-01-31 17:42] guigo2k opened #89 "Droplet create with backups enabled."
Recently, DO has changed their backups structure and to have backups enabled in a Droplet, you now have to enable it during the droplet creation.

Since I use backups in all my Droplets, I can't create Droplets using Tugboat anymore :(

[2014-02-03 16:42] #89 closed, assigned to nobody

[2014-02-18 14:38] #72 closed, assigned to nobody

[2014-02-18 14:39] #66 closed, assigned to nobody

[2014-03-01 15:09] ghost opened #92 "Unable to run tugboat after installing"
On a Digital Ocean Ubuntu 12.04 x64 droplet, I get a syntax error when running tugboat. Ruby is 1.8.7, gem is 1.8.15, tugboat is 0.2.0.

The error is: syntax error, unexpected ':', expecting kEND (SyntaxError).

More information below.

[code]

[2014-03-01 18:24] #92 closed, assigned to nobody

[2014-04-07 01:40] larsks opened #95 "Provide an option to disable color in `droplets` command"
While the colorized output of `tugboat droplets` is nice when visually inspecting the output, it can cause problems when one wants to use the command in scripts (either logging information to a file, or using it to check the status of a droplet).

An option to disable color would be helpful, as would making `tugboat` behave more like other software that automatically disables color codes when `std

[2014-04-07 20:48] bubenkoff opened #96 "waiting for a state is inefficient"
It's done without sleep function i guess
because it takes all the processor time

[2014-04-07 21:33] #96 closed, assigned to nobody

[2014-04-24 10:10] donpdonp opened #97 "list available images"
https://developers.digitalocean.com/images/

add support for the 'images' command to list available images in addition to 'my images'.

[2014-04-24 10:25] donpdonp opened #98 "Default image Id no longer exists"
The default image id both looks wrong ('350076') and no longer exists in the image list.
It should probably be updated from 13.04 to 14.04.
Ubuntu 14.04 x64 (id: 3240036, distro: Ubuntu)

[2014-04-24 16:58] #98 closed, assigned to nobody

[2014-04-24 16:59] #97 closed, assigned to nobody

[2014-04-28 22:52] kura opened #101 "Allow resize -s to take a string size rather than ID"
While writing a bash completion script for Tugboat I discovered that using `tugboat resize droplet -s 1GB` fails as it expects the ID of the size from `tugboat sizes`

I'm not sure if the `--size` flag is any different but I think it would make more sense for both to support the string representation of the size.

In terms of the bash completio it makes a lot more sense since you cannot display th

[2014-07-05 00:37] wearhere opened #102 "API v2 Support"
Do you have plans to support Digital Ocean's v2 API? It seems impossible currently to authorize tugboat as it still requires API and client keys vs. v2's new personal access tokens.

[2014-07-23 02:45] ZacharyDuBois opened #104 "Tugboat Info Should Show Private IP If Exists"
When running `tugboat info droplet` it should provide the private IP address of the droplet if the droplet has private networking enabled.

[2014-07-28 10:03] droidlabour opened #105 "Tilde is not interpreted as the home directory"
~ isn't interpreted as the home directory when mentioned in ~/.tugboat for ssh_key_path under OSX 10.9.4

[2014-08-16 03:19] chrisgo opened #106 "Multiple DO accounts"
Do you have plans to have the ability to switch between multiple DO accounts?  Thanks!

[2014-09-03 15:28] petems opened #109 "New API endpoint tests failing on Travis, work fine locally"
My OSX machine:

[code]

Travis:

[code]

[2014-09-03 16:22] #109 closed, assigned to nobody

[2014-09-29 12:11] Znarkus opened #117 "Action to list all images"
Hi!

How do I know the ID's of images? If I want to e.g. create a "Ubuntu 14.04" droplet.
Would be nice with a https://developers.digitalocean.com/#list-all-images wrapper :)

[2014-09-29 13:15] #117 closed, assigned to nobody

[2014-09-29 13:38] hdurer opened #118 "Allow configuring IPv6 in create command"
"tugboat help create" gives no hint how to activate IPv6 in the new droplet.

[2014-09-29 13:41] hdurer opened #119 "tugboat info should show IPv6 address"
tugboad info <droplet name> does not show the assigned IPv6 address.

I think this was also mentioned in the issue about private addresses not being shown but should really be a separate issue.

[2014-10-03 20:26] mietek opened #120 "Add a scp command"
It would be great to be easily able to _scp_ files to droplets.

[2014-10-19 15:41] petems opened #122 "API v2.0 Support"
API v2.0 support using https://github.com/boats/barge

Checklist

- [x] Add Barge to Gem
- [X] Switch over previous commands to new API: (https://github.com/pearkes/tugboat/issues/161)
- [ ] ~~Add new features (IP6 etc)~~ - Descoped, will do after release. You can see the IP6 on an existing droplet!
- [ ] Cut a new release

[2014-10-26 22:43] rahulsundaram opened #124 "support xdg base dir spec"
Hi
According to XDG Base directory specification:

User data should go into $XDG_DATA_HOME (which default to ~/.local/share),
user preferences should go into $XDG_CONFIG_HOME (which default to ~/.config)
and cached data should go to $XDG_CACHE_HOME (which default to ~/.cache).

References:

http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

http://ploum.net/post/207-modify-you

[2014-10-29 17:05] petems opened #125 "1.0.0 Release"
So, our plan is to get the last stragglers through the door and then see about moving to Digital Oceans API v2.0

My idea so far:

- [x] Changelog updated with all changes since last release
- [x] Cut a release for `1.0.0`
- [x] Release gem

[2014-10-29 19:46] kjtanaka opened #126 "tugboat create --help actually creates "--help" droplet"
#### Version:
Tugboat 0.2.0
#### Issue:
I sometimes stupidly execute `tugboat create --help` which will actually create a droplet. This is obviously my bad, and I know the right command is `tugboat help create`. However, it would be nicer if it generate an error instead, because it costs money even though it's a small loss.

Thanks!

[2014-10-31 16:57] #104 closed, assigned to nobody

[2014-11-11 23:25] elliotthilaire opened #127 "tugboat images [OPTIONS]"
The tugboat help statement does not make it clear straight up that `tugboat images --global` is an option.

[code]

There is no mention of [OPTIONS] and the help statement specifically says 'your images'.
I thought it was a missing feature until I reread the README on github.

[2014-11-11 23:53] #127 closed, assigned to nobody

[2014-11-17 19:05] gamename opened #128 "Quiet ('-q') option returns no output at all"
# TugBoat Version

[code]

# Working as expected

[code]

# No output with '-quiet' option

[code]

# Rerun with debug enabled

[code]

# My env

[code]

[2014-12-02 03:18] brandondrew opened #130 "~ and $HOME fail for key path"
I configured `~/.tugboat` using `$HOME` in the path to my private SSH key, but it didn't work:
[code]
Then I edited `~/.tugboat` to use `~` in the path, and it still didn't work
[code]
Then I used an absolute path, and it worked:
[code]

Since the authorization setup mentions its default path with a `~`, this is surprising and unintuitive.  It would be best to allow the use of `$HOME` and `~`, but

[2014-12-02 03:25] brandondrew opened #131 "root would be a better default username"
When going through the authorization setup, it asked for the ssh user, and said it would default to my local username.  Since tugboat is dedicated to Digital Ocean, and they set up (all?) VMs with just a root user, I'm not sure what the value is to defaulting to the local username.  It seems to me that root would be the desirable default in a 99% of cases.

(Perhaps there's some feature of DO that

[2014-12-02 03:39] brandondrew opened #132 "'fuzzy name' message shows up even when full name is used"
I have a VM whose full name is "rethink".  If I issue a command for rethink I still get a message telling me I gave a fuzzy name.  Considering the README implies that "fuzzy" `==` "partial", this is confusing.
[code]

It seems to me that it's really not all *that* useful to tell us this *even when a fuzzy (partial) name **is** being used*, but I found it quite confusing when I wasn't using a fuzzy

[2014-12-02 03:47] brandondrew opened #133 "--wait option would be useful for ssh"
Instead of typing
[code]

it would be convenient to simply type
[code]
(with `-w` of course being the short form of `--wait`).

[2014-12-02 03:55] brandonzylstra opened #134 "add-key ignores default set in ~/.tugboat"
I have the default ssh public key set in ~/.tugboat, but `tugboat add-key rethink-2` still asks me to type in the entire path to the key.  I see several better alternatives
1.  It could simply use the default.  This is not perfect, but not bad.
2.  It could prompt me to choose one, but let the default specified in `~/.tugboat` be the default choice, so I could just hit <kbd>return</kbd> and be don

[2014-12-02 03:56] brandondrew opened #135 "--default option for add-key"
It would be useful to have a `--default` option for `add-key`.  This would cause the default key specified in `~/.tugboat` to be used, without prompting the user to choose on (or type one in) at the shell.

[2014-12-02 04:20] #134 closed, assigned to nobody

[2014-12-02 04:22] brandondrew opened #136 "clarification about add-key"
It is probably obvious to anyone who has been using DO for a while, but for the rest of us it would be helpful if the description for `add-key` stated that it added a key to the account, rather than to a specific droplet.   (You can see my confusion appearing in issues #134 and #135.)

[2014-12-03 14:57] Ferada opened #138 "Error handling for API error."
I've just encountered an error from DigitalOcean which results in a rather large HTML dump in the console, see [this gist](https://gist.github.com/Ferada/374b0f3f9a777ef6f27d).

[2014-12-16 17:39] kenny-evitt opened #142 "Multiple default SSH keys (for new droplets)?"
I'm not sure if this is possible now. If it is possible, what's the appropriate syntax for the *.tugboat* configuration file?

[2015-01-11 02:18] brandondrew commented on #130
As mentioned in #146 it should be sufficient to allow `~` instead of all environment variables.

[2015-01-15 09:05] JamshedVesuna opened #148 "Default image change (and region load)"
Looks like the default image has changed for Ubuntu 14.04 x64. Also, DigitalOcean's site indicates their New York 1 region receives high demand. Would be worth changing the region to New York 3. Related to #147

[2015-01-23 16:28] zuriar opened #149 "Not creating droplet with default ssh key"
Hi

USING tugboat version 0.2.0

tugboat keys ->

SSH Keys:
my-key-name (id: ***123***)

~/.tugboat ->

---
authentication:
  client_key: *******
  api_key: ********
ssh:
  ssh_user: root
  ssh_key_path: /home/******/.ssh/id_rsa
  ssh_port: '22'

defaults:
  region: '7'
  image: '9801950'
  size: '62'
  ssh_key: 'my-key-name'
  private_networking: 'false'
  backups_enabled: 'false'

tugboat create

[2015-01-26 14:05] zuriar commented on #149
OK, my bad. It turns out that you need to use the ssh_key ID number, not the name.

If you add your local machine public key using 'tugboat add-key' the call to Digital Ocean API will return the new ssh_key ID number and tugboat will update the ~/.tugboat config accordingly. If you have already uploaded an ssh_key to digital ocean (using the web interface) then you can find out the ID number by ru

[2015-01-29 15:47] nickvanw commented on #122
Just wanted to stop by on behalf of DigitalOcean and say thanks for all of the hard work!

We just put a $50 bounty on APIv2 support via BountySource: https://www.bountysource.com/issues/5386849-api-v2-0-support - let me know if you have any questions!

[2015-01-29 15:55] petems commented on #122
@nickvanw Awesome! I meant to get the last things over the line for so we could do a feature freeze for the non API v2 stuff. I actually forgot about it til I saw this! :smile:

I'll see what I can do in the upcoming weeks

[2015-01-29 17:45] petems commented on #136
@brandondrew Hmm, I don't think you can assign non-collaborator. But feel free to do a PR for it, should be an easy merge as it's just helper docs! :+1:

[2015-01-29 17:49] petems commented on #138
Resolved HTML error responses in #139, closing.

[2015-01-29 17:49] #138 closed

[2015-01-29 17:50] petems commented on #106
Or maybe #151, will close when done.

[2015-01-29 17:51] petems commented on #148
Closed by #147

[2015-01-29 17:51] #148 closed

[2015-01-29 17:52] petems commented on #149
Yeah, the 1.0 API had a few inconsistencies, but this has caused some issues, we should clarify (see #136)

[2015-01-29 17:58] petems commented on #131
Good point actually, this probably makes sense.

Want to do a PR for it? I can pick it up if not.

[2015-01-29 18:00] petems commented on #106
Closed by #151

[2015-01-29 18:00] #106 closed

[2015-01-29 18:01] petems opened #153 "Add Documentation for #106"
Multiple accounts needs to be added to the docs

[2015-01-31 14:31] petems commented on #126
Merged in #143

[2015-01-31 14:31] #126 closed

[2015-01-31 14:34] petems commented on #105
Fixed in #146

[2015-01-31 14:34] #105 closed

[2015-01-31 14:36] petems commented on #153
Related to #106

[2015-01-31 14:50] #131 closed

[2015-01-31 16:41] petems commented on #153
Done in #157

[2015-01-31 16:42] petems commented on #135
Clarified in #157

[2015-01-31 16:42] #135 closed

[2015-01-31 16:43] petems commented on #130
Fixed in #146

[2015-01-31 16:43] #130 closed

[2015-01-31 16:46] petems commented on #149
Clarified in #157

[2015-01-31 16:46] #149 closed

[2015-02-01 12:50] #153 closed

[2015-02-03 15:43] rauchrob opened #160 "tugboat ssh not using ssh-agent?"
I am storing my SSH secret keys on a smartcard, running `ssh root@<my-droplet-ip>` therefore runs fine without password. However `tugboat ssh <my-droplet>` will fallback to asking the root password, which is not what I expected.

Did I miss something or is this a Bug?

[2015-02-12 17:39] carmstrong commented on #122
:+1: Would love to see API v2 support! In [Deis](https://github.com/deis/deis) we're using [docl](https://github.com/nathansamson/docl) which is an awesome tool by our community member @nathansamson.

[2015-02-23 14:27] petems commented on #160
By default, tugboat uses the user defined in your `~/.tugboat` file. If you change that to root it should work

[2015-02-23 14:28] petems commented on #136
Fixed in https://github.com/pearkes/tugboat/pull/157

[2015-02-23 14:28] #136 closed

[2015-02-23 17:10] petems opened #161 "API 2.0 Switchover"
Progress on Switching over to API 2.0 API:

- [x] add-key
- [x] authorize
- [x] create
- [x] destroy
- [x] destroy-image
- [x] droplets
- [x] halt
- [x] help
- [x] images
- [x] info
- [x] info-image
- [x] keys
- [x] password-reset
- [x] rebuild
- [x] regions
- [x] resize
- [x] restart
- [x] sizes
- [x] snapshot
- [x] ssh
- [x] start
- [x] verify
- [x] version
- [x] wait

[2015-02-24 07:06] rauchrob commented on #160
The `ssh` section of my `~/.tugboat` is (and has been) given by

[code]
So this doesn't fix the issue.

[2015-03-23 14:28] awh opened #162 "Allow specification of user data in create command"
Datacentres with metadata support allow the specification of user data which can be accessed from within the VM; this is very useful for e.g. configuring CoreOS droplets. Requires API 2.0.

[2015-03-24 23:26] moltar opened #163 "Image list and authorize"
Two related issues:

1) There is no way to list public (your) images from the command. So if I need an image ID, there is no way to get it.

2) During auth, it is asking for what default image ID I want, and I have no idea where to get it.

[2015-03-26 18:19] donpdonp commented on #163
I had the same problem with finding global images. There is a flag but its not on the short help screen.
[code]

[2015-03-29 11:27] mxdpeep opened #164 "regions sorting"
please, sort the regions listing by name :dancer:

looks dizzy

[code]

[2015-03-29 11:35] mxdpeep commented on #50
the best way is probably now:
* power off A)
* snapshot A)
* power on A)
* move image to B)
* start B)
* rsync data from A) to B)
* change DNS IP to point to B)
* rsync data again from A) to B) just to be sure
* destroy A) / power off A) & make snapshot /* if you want to restart at location A) later again */

[2015-04-06 13:31] stianeikeland commented on #162
:+1:

[2015-04-22 08:16] petems commented on #164
This was made back in the ye olde days when there was only 3 regions :smile:

[2015-04-28 08:35] fadenb commented on #162
:+1:

[2015-05-17 05:52] edparcell commented on #142
This worked for me:
ssh-key: ['111111', '222222']

[2015-05-20 13:46] petems commented on #164
Fixed by #165:

Example
[code]

[2015-05-20 14:04] #164 closed

[2015-05-26 20:27] petems commented on #163
Should be better output in https://github.com/pearkes/tugboat/pull/167

[2015-05-26 20:27] petems commented on #125
1.0.0 Released! Woop woop! Been over a year since the last Rubygems release :smile:

[2015-05-26 20:27] #125 closed

[2015-05-26 21:34] pearkes commented on #125
@petems You're a hero!

[2015-05-27 07:01] blom commented on #125
@petems Awesome work!

[2015-06-02 09:19] oryband opened #168 "tugboat doesn't work with team accounts, because they use api v2"
[code]
I've just created a team account, but I'm not sure it's related. This happened before and after i re-executed `tugboat authorize` and filled all the necessary details. Any idea what's wrong?

Note I deleted anything that resembled a key/hash for security purposes :)

[2015-06-02 09:19] oryband commented on #168
@fuzzyami

[2015-06-02 10:03] oryband commented on #168
UPDATE: this is a bug in digitalocean's api.

[2015-06-02 11:07] oryband commented on #168
UPDATE: API v1 doesn't work with team accounts. The solution to this is to update this repo to use v2 :\
#122 #161

any progress on this?

[2015-06-10 22:27] clemenko commented on #122
I hope this is not stalled?

[2015-06-10 22:30] petems commented on #122
I've been working on this on and off for the last 6 months. The code changes are actually fairly simple most of the time. It's moving the testing over thats the problem, as the tests are based against local json files.

I'm tempted to do a 2.0.0alpha release with no tests to the switchover and catch the big issues, then move the testing over to VCR + Webmock to save the testing. Anyone who wants t

[2015-06-10 22:32] clemenko commented on #122
I wish I could. I have no ruby chops..

[2015-06-20 08:53] tlongren opened #169 "SSH to Private IP"
Hi!

I just installed Xubuntu 15.04 on my laptop, a new version of tugboat than is on my main workstation.

When I do
[code]
It attempts to connect to the private (internal) IP address. I have done little research into it, but wanted to make a note here quick. It perhaps isn't related to tugboat and something with the droplets.

Not using tugboat, I can SSH to the external IP just fine.

Thoughts?

[2015-06-25 05:01] vmatekole commented on #169
Hi, I can also confirm I have same issue, with tugboat 1.0

[2015-06-25 22:53] tlongren commented on #169
Definitely a somewhat recent issue. I have tugboat 0.2.8 installed on my main workstation and it connects to the external IP address of the specified droplet, as expected.

[2015-06-28 19:02] akshayl commented on #162
:thumbsup:

[2015-07-09 17:33] PhilETaylor commented on #169
ah so this is what my problem is - it just hangs on connecting when I do a tugboat ssh ... so its trying to connect to the wrong IP  ?

[2015-07-14 14:21] petems commented on #168
Haven't had a lot of spare time to work on the API 2.0 support, I might just do an alpha for people to start testing things

https://github.com/pearkes/tugboat/issues/161

[2015-07-14 14:35] petems commented on #169
@tlongren So we allowed people to set if they wanted to connect to the private or public IP in 7b307b1e93ee2a90cbc550e6b7d059be9095fcc2, looks like that might've gone wrong.

Can you try adding the following into your ~/.tugboat file:

[code]

And see if that fixes it?

[2015-07-14 14:56] petems commented on #169
Can you also show the contents of your ~/.tugboat file (with the API keys redacted)

[2015-07-14 15:44] PhilETaylor commented on #169
I'm using ```Tugboat 1.0.0``` installed with gem

my .tugboat file content:

    ---
    authentication:
      client_key: redacted
      api_key: redacted
    ssh:
      ssh_user: root
      ssh_key_path: "~/.ssh/id_rsa"
      ssh_port: '5819'
    defaults:
      region: '1'
      image: '350076'
      size: '66'
      ssh_key: id_rsa
      private_networking: 'false'
      backups_enabled: '1'

[2015-07-14 15:47] PhilETaylor opened #171 "Unable to bundle to run tugboat from git repo version for testing"
Phils-iMac:tugboat phil$ ls
    CHANGELOG.md		README.md		spec
    CHANGELOG_old.md	Rakefile		tmp
    CONTRIBUTING.md		bin			tugboat.gemspec
    Gemfile			features
    LICENSE.md		lib

    Phils-iMac:tugboat phil$ bundle
    Updating https://github.com/cucumber/cucumber.git
    fatal: ambiguous argument 'v2.0.0.beta.2': unknown revision or path not in the working tree.
    Use '--' to separate path

[2015-07-14 15:50] PhilETaylor commented on #171
If I remove the line:

    gem 'cucumber', git: 'https://github.com/cucumber/cucumber.git', tag: 'v2.0.0.beta.2'

from the Gemfile then I can run the ```bundle``` command with no errors and cucumber 1.3.20 is installed

[2015-07-14 15:59] PhilETaylor commented on #169
Note that a command with option ```-e``` works and allows ssh to public IP address

This command works for me.
```tugboat ssh 100 -e```

[2015-07-14 23:02] tlongren commented on #169
@petems, same deal here as @PhilETaylor.

[code]
works like @PhilETaylor suggested.

[2015-07-18 19:12] petems commented on #171
Hi Phil! The issue is that the repos have been moved, I'll update the gemfile.

In the future you can do `bundle install --without development test`

[2015-07-18 19:15] petems commented on #169
Weird, that should be the default. I'll see if I can fix up the logic.

[2015-07-18 19:16] petems commented on #168
@oryband Can you try using the latest `v2.0.0.ALPHA` release and tell me if that works for you?

[2015-07-18 19:17] #171 closed

[2015-07-18 19:50] petems commented on #169
Fixed and released in 1.1.0

I didn't catch it because in my acceptance tests, because I don't have any servers with private IPs. Will update.

[2015-07-18 19:50] #169 closed

[2015-07-18 19:56] #163 closed

[2015-07-18 20:11] alekseyp commented on #168
On OS X getting next error:

[code]
[code]
[code]
[code]
I'm leaving client id empty, also, tried to put simple 'na' but got exactly the same problem.

[2015-07-19 00:23] petems commented on #168
Yeah, I haven't got the auto-auth working with the 2.0 API yet, you'll have to manually add it to the `~/.tugboat` file:

[code]

[2015-07-19 07:18] oryband commented on #168
@petems sorry, my team reverted to v1 so i can't test that now

[2015-07-20 20:29] alekseyp commented on #168
@petems , it's working, i can see list of droplets, but some commands don't work, like `tugboat create`.

[code]

[code]

Maybe it's my  _~/.tugboat_ file. Here it's content

[code]

[2015-07-20 20:52] petems commented on #168
Nah, the create function wasn't working at the time, let me release the second iteration of the Alpha

[2015-07-21 14:25] alekseyp commented on #168
I can ssh in now. But creating still doesn't work. Do you want me to go over all commands and provide list  that failed and all errors?

[2015-07-22 13:35] petems commented on #168
@alekseyp That would be great if you could!

For creating servers, can you try changing the ~/.tugboat settings for servers to the following:

[code]

The new API uses different strings for creating servers.

[2015-07-22 17:03] alekseyp commented on #168
Alright, here we go. I hope it's readable.

[code]

[code]
[code]
[code]
[code]

[code]

[code]
[code]

[2015-08-02 02:27] marcosgm opened #174 "Bad documentation string"
The command 'images' describes the wrong way to get all the images: (Use `tugboat images list --global` to show all images), it should be (Use 'tugboat images -g')

$ tugboat images
Listing Your Images
(Use `tugboat images list --global` to show all images)
My Images:
No images found

$ tugboat images list
ERROR: tugboat images was called with arguments ["list"]
Usage: "tugboat images [OPTIONS]".

[2015-08-02 02:33] marcosgm commented on #174
FYI it was installed using 'gems'
$ tugboat --version
Tugboat 1.3.0

[2015-08-02 04:06] blom commented on #174
Fixed in #173 but not released yet.

[2015-08-02 04:06] #174 closed

[2015-08-02 11:46] petems commented on #168
@alekseyp Ok, I think I've fixed it, can you try the 2.0.0.pre1 release?

[2015-08-02 11:49] petems commented on #161
Everything seems to work from my testing, now it's just a matter of getting all the tests ported over.

[2015-08-02 11:50] petems commented on #160
@rauchrob Can you try now with the latest release? (v1.3.0)

[2015-08-02 11:51] petems commented on #174
Good catch, my fault! :+1:

[2015-08-02 11:53] petems commented on #174
Released as 1.3.1

[2015-08-03 19:47] alekseyp commented on #168
@petems , thanks!
Right away I see that SSH can't connect to public IP, it's alway using private, even with config changes or _-e_ option

[code]

[code]

[2015-08-04 21:22] alekseyp commented on #168
```  tugboat authorize                                    # DOES NOT WORK```

[2015-08-05 23:14] zlanich commented on #102
Any idea when API v2 will be implemented? DO completely disables API v1 when we invite team members because v1 doesn't support teams, so I can't invite any team members until then lol. Thanks.

[2015-08-05 23:23] petems commented on #102
Hi @zlanich! You can see the progress here: https://github.com/pearkes/tugboat/issues/161

There's a beta release of the API 2.0 release version of the gem, you could give that a try in the mean time :+1:

[2015-08-05 23:23] petems commented on #122
Progress here: #161

[2015-08-05 23:43] zlanich commented on #102
I will do that very soon. Thanks!

Peter Souter wrote:

[2015-08-07 20:34] zlanich commented on #161
I'm no Ruby pro, but I tried this to try out the progress so far and I get an error. Thoughts?:

$ gem build tugboat.gemspec
$ sudo gem install tugboat-2.0.0.pre1.gem
$ tugboat

Error: /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/rubygems/core_ext/kernel_require.rb:135:in `require': cannot load such file -- tugboat (LoadError)
	from /System/Library/Frameworks/Ruby.fram

[2015-08-11 20:41] alekseyp commented on #168
Is there anyway to configure it to use public ip for SSH?

[2015-08-19 14:45] niko commented on #120
My wrapper looks like this:

[code]

The benefit of aliasing ssh instead of using `tugboat ssh` is that I can open tunnels etc. just as with the native ssh command… because it is the native ssh command. ;)

[2015-08-27 09:38] petems commented on #168
@alekseyp Sorry was on holiday, I'll push up my fix and release another alpha of the gem.

[2015-09-03 20:25] alekseyp commented on #168
Thanks! Can't wait for it.

[2015-09-05 05:53] stalluri opened #176 "Setting client_id and api_key as environment variables in shell"
Usually most CLIs like aws, heroku etc support setting API keys as environment variable for shell scripting purposes. Does tugboat support such model ? If not, can some one help me how can I quickly fork and modify specific ruby files?

[2015-09-21 20:29] alekseyp commented on #168
Is there any update on that?

[2015-09-21 22:50] petems commented on #168
@alekseyp Hey! Wanna try now with v2.0.0.pre2?

[2015-09-21 23:23] alekseyp commented on #168
@petems it's still using private IP :(

[2015-09-21 23:26] alekseyp commented on #168
Also, info fails now.
[code]

[2015-09-22 00:08] petems commented on #168
@alekseyp Try now? :+1:

[2015-09-22 00:11] petems commented on #161
"This documentation is for version 1 of the DigitalOcean API. It has been deprecated and will be shutdown on Monday, November 9, 2015." Yikes, deadline coming up fast! :scream:

[2015-09-22 22:37] alekseyp commented on #168
@petems :ok: :+1: hallelujah

Thanks a lot! ill do more tests tonight

[2015-09-22 22:59] petems commented on #168
Yeah, I'm going to have to speed this up a bit, API 1.0 is EOL soon! :sob:

[2015-10-01 19:03] skeenan947 commented on #162
Please!!

[2015-10-04 21:38] mxdpeep commented on #161
yeap, 1 month left...

[2015-10-04 21:40] mxdpeep commented on #102
API v1 will be shutdown on November 9th 2015

[2015-10-09 22:00] steadystatic commented on #102
Just got the email from DigitalOcean and love Tugboat so I'm sweatin' this switchover in November. Anything that folks can do to help get Tugboat down with V2?

[2015-10-10 07:48] FredrikWendt commented on #161
This is great progress. Is there an easy way to try this out for a non-Rubyist? I run this all in a docker container and currently run "gem install tugboat", but is there a replacement command which would install this branch instead?
Created a https://www.bountysource.com/issues/8836949-api-2-0-switchover for your efforts so far.

[2015-10-13 23:58] edanisko commented on #161
@FredrikWendt I too am ruby-less...

https://github.com/pearkes/tugboat/blob/master/CONTRIBUTING.md explains a lot about what you are asking.

You're going to wind up doing something similar to the following on a linux command line:

$ sudo apt-get install bundler git
$ cd ~/
$ git clone https://github.com/pearkes/tugboat.git
$ cd tugboat
$ git checkout api2_changes
$ bundle
$ bundle exec rake ins

[2015-10-14 18:16] steadystatic opened #177 "Possible to delete an image/snapshot?"
I have a bash script that uses Tugboat to restore a snapshot matching a pattern for that machine in the `tugboat images` command. I am finding that since I create a snapshot whenever I turn this instance off that I get duplicate images and have to manually go to DigitalOcean and delete the other older images.

Is it possible (maybe in v2) to get something like `tugboat image delete <ID or name of

[2015-10-14 19:19] steadystatic commented on #177
Bah, I must have had an old version? I just re-read the help and see `destroy_image` as a method now. Sorry about the false issue, closing it out thanks!

[2015-10-14 19:19] #177 closed

[2015-10-17 18:17] FreedomBen commented on #161
First of all, _thank you_ for your service to the community :smile: .

Do we need to swarm this and get it working with V2?  Is it just tests that we're waiting on for a release?

[2015-10-17 18:38] petems commented on #161
Hi @freedomben, yeah it's just a matter of getting all the tests moved over to the new job fixtures, cleaning up the commits then doing an official 2.0.0 release. I should have it done before end of October, I've been doing it on and off over the last year, but the deadline has lit a fire and I'm cranking out the last bits of test code. If I don't get the tests finished, I'll release it with pendi

[2015-10-18 00:46] petems commented on #161
PR here: https://github.com/pearkes/tugboat/pull/178

Only 44 failing specs to go! :smile:

[2015-10-18 06:41] petems commented on #161
Clean PR here: https://github.com/pearkes/tugboat/pull/180

Just need to figure out why the specs fail peridocially on 2.0.0, then merge soon! :+1:

[2015-10-19 02:42] petems commented on #176
Good idea, would be fairly easy to implement (just need to add something like

[code]

To the config code, I'll see if I can get that working after I've completed the API 2.0 stuff! :smile:

[2015-10-19 13:30] stalluri commented on #176
Thanks Peter. If you can incorporate it as part of your API 2.0 release, it would be great.

[2015-10-20 02:31] petems opened #182 "API 2.0 Release Candidate Guinea Pigs and Feedback"
Now #180 is merged, I want to have people do some rough testing to make sure I've not broken any existing workflows too much with the switch to the 2.0 API.

Any volunteers?

Potential Candidates: @alekseyp, @oryband, @zlanich, @FredrikWendt, @edanisko, @FreedomBen, @conorsch

Instructions:

[code]

Pending no huge hiccups, the final version of the gem will be released 26th October and all the iss

[2015-10-20 02:49] petems commented on #176
@stalluri PR for you here: #184

Would that be good for your use-case?

[2015-10-22 20:50] alekseyp commented on #182
Awesome news!

1) get install should be for -v 2.0.0.RC1
2) if you trying to ssh to a droplet that was part of returned search by name, it won't use your ssh key.
If you use full name for droplet it will.

[code]

[2015-10-23 01:20] FreedomBen commented on #182
I've had no issues with halting, resizing, starting, destroying, and creating.  I did have an issue getting the create to use my SSH key, but it seems like user error atm.

[2015-10-23 14:10] tjcrandall commented on #182
I'm seeing an issue specifying a region. It's still expecting numeric Region IDs rather than the region slug.
[code]

[2015-10-23 14:12] petems commented on #182
@tjcrandall Good catch, I'll fix that now.

[2015-10-23 14:14] petems commented on #182
@tjcrandall Fixed in https://github.com/pearkes/tugboat/pull/186

[2015-10-23 14:19] tjcrandall commented on #182
@petems :+1:

[2015-10-23 14:27] #118 closed

[2015-10-23 14:35] petems commented on #6
This was achieved by https://github.com/pearkes/tugboat/pull/170

[2015-10-23 14:35] #6 closed

[2015-10-23 14:36] petems commented on #101
Closed by #161 (New API uses string slugs)

[2015-10-23 14:36] #101 closed

[2015-10-23 14:37] petems commented on #160
Closing for now, if there's any update, feel free to re-open

[2015-10-23 14:38] petems commented on #5
Closed by https://github.com/pearkes/tugboat/pull/87

[2015-10-23 14:38] #5 closed

[2015-10-23 14:39] petems commented on #119
Closed by https://github.com/pearkes/tugboat/pull/189

[2015-10-23 14:39] #119 closed

[2015-10-23 14:44] petems commented on #95
Lets see how easy this would be: http://stackoverflow.com/questions/33305188/disable-color-for-thor

[2015-10-28 02:58] fake-name opened #190 "Support traditional `-y` for automatically confirming a destructive action."
Apparently to automatically answer "yes" or "y" to `tugboat destroy` you use `-c` for some bizarre reason.

Can you please add or switch to using `-y`, like almost every other unix tool out there?

[2015-10-28 03:01] fake-name opened #191 "If a command that requires arguments is entered without arguments, print the help for that."
Basically, `tugboat destroy` emits the basically useless `Tugboat attempted to find a droplet with no arguments. Try 'tugboat help'` message. This then leads to running `tugboat help`, which then leads to finally executing `tugboat help destroy` to get any actually usefull output.

This is kind of ridiculous. If you execute `tugboat destroy` without arguments, *print it's help*. Doing so should no

[2015-10-30 11:49] mtbottle opened #192 "Ipv6 changes broke ssh"
It looks like the new changes to add ipv6 broke functionality to get ip's from fuzzy matching.

The error I get is:
[code]

I made a hacky change (https://github.com/mtbottle/tugboat/commit/0caa7f3772806643d09557dda2dcc463da4d5960) to fix it for my usecase. However it does not deal with someone wanting to ssh onto a machine with ipv6.

[2015-11-02 10:05] petems commented on #191
@fake-name Good idea, PR's welcome :+1:

[2015-11-02 12:55] #190 closed

[2015-11-02 12:56] petems commented on #190
Merged.

On a related note, please be considerate of the fact that this is free open-source software that people work on in their own time. Snark is not appreciated :-1:

[2015-11-02 14:23] petems commented on #182
@FreedomBen The SSH issue might be related to https://github.com/pearkes/tugboat/issues/192, I'll see if I can get a fix out for that.

[2015-11-02 14:26] petems commented on #192
@mtbottle That's not that hacky IMO, I'm going to PR that to fix the bug.

I'll need to add a new flag to allow the choice to SSH to the IP6 address.

[2015-11-02 14:33] #192 closed

[2015-11-02 14:48] #191 closed

[2015-11-02 14:49] petems commented on #191
Fixed.

Again, please appreciate the fact that this is open-source software maintained by volunteers. Snarkiness isn't fun.

[2015-11-02 19:57] stalluri commented on #176
Peter, I tried it by setting DO_API_TOKEN  as an environment variable and I'm getting the error below.

/usr/local/share/ruby/gems/2.0/gems/tugboat-2.0.0.RC1/lib/tugboat/middleware/list_droplets.rb:10:in `call': undefined method `empty?' for nil:NilClass (NoMethodError)
	from /usr/local/share/ruby/gems/2.0/gems/tugboat-2.0.0.RC1/lib/tugboat/middleware/inject_client.rb:27:in `call'
	from /usr/local

[2015-11-02 20:48] petems commented on #176
@stalluri Strange, I tested it and worked fine for me:

[code]

What version of the gem are you using? Are you using the repo itself or building the gem?

[2015-11-02 20:50] stalluri commented on #176
Just to add more context, I tried the following as well :
1. With no ~/.tugboat file, as I was setting DO_API_TOKEN environment variable
2. With ~/.tugboat file, with an empty access token , and set DO_API_TOKEN env variable
3. With ~/.tugboat file, with a "junk_token", and then set DO_API_TOKEN with right token as env variable..

I used the following to install tugboat
gem install tugboat -v 2.0.

[2015-11-02 20:59] petems commented on #176
Ah ok, yes this won't work until I release the gem, so it won't work with `2.0.0.RC1`, it'll have to wait until 2.0.0 gets officially released, which I'll probably do tomorrow or the day after.

Or you can build it yourself in the mean time to test:

[code]

[2015-11-02 21:07] stalluri commented on #176
I will wait for official 2.0 release.
I understand v1 is being deprecated in a week on Nov 9th by digital ocean.

[2015-11-02 21:15] petems commented on #176
Yep, I'm releasing before the 9th, just trying to get the user-data feature working first :smile:

[2015-11-02 21:29] petems commented on #162
This will be my last feature to get ready for the 2.0.0 official release :smile:

[2015-11-03 00:13] fake-name commented on #191
I apologize, I'm rather constitutionally predisposed to sarcasm, and having spent hours fighting with strange docker issues together with droplet issues doesn't make me too genial.

I've cleaned up the report a bit.

[2015-11-03 00:36] skeenan947 commented on #162
yay!  thank you!

[2015-11-03 09:18] petems commented on #191
@fake-name hah, no worries man. It's a good point, the UX of tugboat has sometimes been a bit iffy. Hopefully these changes make things a bit better :smile:

[2015-11-03 09:37] #162 closed

[2015-11-03 12:33] petems opened #198 "New Droplets dont have IP address immediatly, so the info command fails"
[code]

Need to have it take nil as an empty string or something

[2015-11-03 14:04] #142 closed

[2015-11-03 14:42] #168 closed

[2015-11-03 14:47] petems commented on #182
Closed by #183

[2015-11-03 14:47] #182 closed

[2015-11-03 14:47] petems commented on #198
Fixed by e3a69d2b548f8b4b47a538a2605928db23490bc7

[2015-11-03 14:47] #198 closed

[2015-11-03 14:47] petems commented on #161
Fixed by #183

[2015-11-03 14:47] #161 closed

[2015-11-03 14:48] petems commented on #176
Fixed by #183 release

[2015-11-03 14:48] #176 closed

[2015-11-03 14:48] petems commented on #122
Fixed by #183

[2015-11-03 14:48] #122 closed

[2015-11-03 14:48] petems commented on #102
Fixed by #183

[2015-11-03 14:48] #102 closed

[2015-11-03 15:29] kenny-evitt commented on #142
@petems Thanks!

@edparcell Thanks also for your (much) earlier suggestion. Sorry for not replying sooner.

[2015-11-04 21:01] adamierymenko opened #204 "Slugs don't work"
In 2.0.0 when you try to use slugs you get things like:

    Expected numeric value for '--size'; got "16gb"

Looking at cli.rb it looks like you have ":numeric" as the type when slugs are alphanumeric strings. So slugs don't work at all.

[2015-11-04 21:05] adamierymenko commented on #204
Editing cli.rb and changing these to ":string" seems to fix it.

[2015-11-04 21:13] adamierymenko opened #205 "Seems to be a limit to the number of retrieved droplets"
Just created 200 droplets for a large scale distributed network test. They created but "tugboat droplets" doesn't list them all. There seems to be some kind of length limit. Have to log into the web UI to see them all.

[2015-11-04 21:22] adamierymenko opened #206 "Commands like "droplets" need formatting switches"
Commands like "droplets" need formatting switches to do things like only list IPs to avoid stuff like:

[code]

[2015-11-05 03:30] nuxlli commented on #204
Same problem here for `--region`:

[code]

[2015-11-10 19:29] rauchrob commented on #160
I have tested again with tugboat v2.0.0, without success:

[code]

When doing `ssh root@do512-1.xxxxxxxxxxxx`, it works using ssh-agent and my smart card.

[2015-11-10 19:59] petems commented on #160
What SSH key are you using when you SSH regularly? I see there's an error saying it can't find the SSH key:

`Warning: Identity file /home/rauch/.ssh/id_rsa not accessible: No such file or directory.`

You might need to change the SSH key it uses in your ~/.tugboat file

[2015-11-10 20:04] petems commented on #206
Makes sense.

Hmm, this would probably be easiest by extending the porcelain mode from the info method into the droplets method.

[code]

How would you like it to look when it outputs, something like this:

[code]

[2015-11-10 20:06] petems commented on #205
I'm afraid so, the API limits the response to 200 at a time: `The maximum number of results per page is 200.`

This could be extended to get several pages however.

[2015-11-10 20:07] petems commented on #204
Damn, I think I fixed this in a branch and forgot to merge it, will fix soon! :+1:

[2015-11-10 20:15] petems commented on #205
Reminder for this:

[code]

So some logic that goes "If page is paginated, get list of pages, then iteratively print responses from each page"

[2015-11-10 20:19] rauchrob commented on #160
I have no file based SSH keypair at all. I have also just tried it after

* removing the `ssh_key_path` setting in my `~/.tugboat`
* generating some random SSH key pair via `ssh-keygen`

without success, though.

[2015-11-10 20:25] petems commented on #160
If you don't give ssh_key_path in the ~/.tugboat file, it defaults to using `~/.ssh/id_rsa`

Can you give a verbose output of sshing into the both without tugboat (-vvvv) with all the sensitive stuff redacted (IP and the like)

[2015-11-10 20:29] #204 closed

[2015-11-10 20:34] rauchrob commented on #160
[code]

[2015-11-10 20:43] petems commented on #160
Can you try:

[code]

And tell me which one works? And when you find out which one works, try changing the ssh_key_path in your ~/tugboat file to point to that file, should work after that.

[2015-11-10 20:52] petems commented on #204
Fixed and released in 2.0.1 :+1:

[2015-11-10 21:03] rauchrob commented on #160
None of them will work. As mentioned above, I have no file based SSH Key pairs at all, since my SSH Keypair is located on a Smart card:

[code]

[2015-11-10 21:16] petems commented on #160
Ooooooh, now I understand, I missed that detail before. I've not heard of these before, they look pretty neat, I've been using a Yubikey for my machine, having SSH keys on secure hardware makes sense! :smile:

So, I'm not really sure how to fix this, as I'm not super familiar with how smart cards interact with SSH.

Basically, Tugboat does ssh by doing:

[code]

So it runs SSH from the terminal wi

[2015-11-10 21:32] rauchrob commented on #160
`ssh` looks at the environment variable `$SSH_ATUH_SOCK`. The code for for calling `ssh` from `tugboat` seems promising, though. From `man ssh_config`:

[code]

Therefore I think you should remove the options `"-o", "IdentitiesOnly=yes"`.

[2015-11-10 21:35] rauchrob commented on #160
By the way, I have tested removing this line from `lib/tugboat/middleware/ssh_droplet.rb` and it works! I can provide a PR, if you like.

[2015-11-10 21:41] rauchrob commented on #160
Maybe the option `-o IdentitiesOnly` should only be used in conjunction with the `-i` option, namely when an `ssh_key_path` has been specified in the users tugboat configuration file.

[2015-11-11 20:10] toringe opened #209 "Wrong color for successful snapshot creation?"
Line 20 in `tugboat/lib/tugboat/middleware/snapshot_droplet.rb` states:

    say "Snapshot successful!", :red

shouldn't that rather be:

    say "Snapshot successful!", :green

[2015-11-17 05:25] lachesis commented on #205
+1 on this issue - this is a regression from the v1 API.

[2015-11-21 15:29] mxdpeep opened #211 "bug in connect"
When not entering the access token, tugboat says incorrectly:

Authentication with DigitalOcean was successful.

then it crashes:

.rvm/gems/ruby-2.2.1/gems/tugboat-2.0.1/lib/tugboat/middleware/list_droplets.rb:10:in `call': undefined method `empty?' for nil:NilClass (NoMethodError)

so I assume the authentication message is not correct at all, fixed by entering the token manually to .tugboat

[2015-11-22 18:17] petems commented on #209
Good point, should be quick to fix, will get a release out soon! :+1:

[2015-11-22 18:17] #205 closed

[2015-11-22 21:34] #209 closed

[2015-11-22 22:32] petems commented on #211
Hi @mxdpeep! Yep, looks like this was overlooked, as it used to throw a Faraday error when authentication was wrong, now it just simply returns a hash:

[code]

I'll get a fix for this out soon!

[2015-11-24 16:42] #211 closed

[2015-11-24 16:43] #160 closed

[2015-11-25 00:22] suin commented on #120
+1

[2015-11-28 02:47] #133 closed

[2015-11-28 02:50] petems commented on #132
@brandondrew If you know you have the exact name, you can give the command with a specified name with the -n command:

[code]

Without specifying a name, it assumes you want a fuzzy search.

[2015-11-28 02:50] #132 closed

[2015-11-29 17:23] petems commented on #120
This probably the next big feature I want to work on, I might have some free time over the christmas period so hopefully I'll be able to give it some time over December! :+1:

[2015-11-30 16:48] aeneaswiener opened #220 "Show private ip alongside public ip in droplets list"
In tugboat version 2.0.1 when calling

[code]

The output does not show the private ip for all the droplets. Is there a way to enable this?

[2015-11-30 17:23] petems commented on #220
@aeneaswiener Yep, that was added in 9c66967ab33b42e9b01388946fb4015ff89aea9b, but I foolishly forgot to add a spec for it so there's been a regression since the switch to API 2.0!

I'll see if I can whip up a PR with fix and get a release out before the end of the week :+1:

[2015-11-30 18:01] rockymadden commented on #71
This would be wonderful, as I regularly run into a similar issue which could be addressed via passing timeout options to faraday:

[code]

[2015-12-01 19:55] #220 closed

[2015-12-01 20:03] petems commented on #160
@rauchrob Can you test this is all working in tugboat 2.1.0?

[2015-12-01 20:04] petems commented on #133
@brandondrew Long time coming, but implemented! :+1:

[2015-12-01 20:34] petems commented on #71
Wow, this is over 2 years old now, should probably get to to work on this!

@rockymadden Just curious, how long did it take for the machine to come up in the end did you ever find out?

[2015-12-01 20:49] rauchrob commented on #160
@petems I can confirm it works now, nice work! I get some noisy debugging output, which could be stripped in future releases though:

[code]

[2015-12-01 20:56] petems commented on #160
Yeah, I'm planning on refactoring the logging from #202, and changing levels of logging and such :+1:

[2015-12-01 21:06] petems commented on #71
@rockymadden Also, can you give me an example of something that triggers a timeout? I think I've fixed the issue but it's hard to write tests for!

[2015-12-01 22:04] rockymadden commented on #71
@petems The droplets came up in a timely fashion (e.g. ~60 seconds), but `tugboat wait` would randomly error with the above just a few ticks in (e.g. 15 seconds to 45 seconds). Seeing it many times over the past few days, I believe the issue was/is purely on CircleCI and/or DigitalOcean's and that altering `read_timeout` or `continue_timeout` would help handle for the edge cases. However, that is

[2015-12-01 22:57] petems commented on #206
@adamierymenko Can you give an example of how you want it to look?

Do you want a CSV style output like we do for info and `--porcelain` mode:

[code]

[2015-12-01 23:17] petems commented on #71
Ah ok. I tried turning a droplet off and trying to get digitalocean to timeout on that, but that seems ok. It might be the size of the droplet means the requests take more than the default 10 seconds, let me try making a biiiiiig droplet to see if I can recreate the issue!

BTW, Fog now has API 2.0 support for DO so it might be better for what you're trying to do here? Tugboat is more of a cli too

[2015-12-01 23:27] petems commented on #71
I still can't recreate, even when trying a 16GB droplet:

[code]

What image are you using to create it, is it something custom?

[2015-12-03 17:24] rockymadden commented on #71
I am still able to semi-reliably recreate the issue. Let me do this, I'll create an ad-hoc public circleci repo that shows the behavior in a repeatable fashion. I can then include your timeout changes to see if it fixes it. Hopefully we could make a test for it in tugboat itself from what we learn.

[2015-12-03 17:28] adamierymenko commented on #206
CSV would be fine, and ditch the extra spaces since it requires an extra 'cut' or 'sed' etc. from the command line. Goal is to make it easy to script stuff.

[2015-12-03 17:29] rockymadden commented on #71
BTW, I am not surprised you cannot recreate it with a single wait test. It only seems to show it's head several creates/waits: ![pic](http://share.rockymadden.com/image/3x3b0j2I323t/Image%202015-12-03%20at%2010.28.12%20AM.png)

[2015-12-03 18:46] petems commented on #206
Could also do an output format flag: csv, yaml or JSON :+1:

[2016-02-01 22:36] stalluri commented on #176
Peter, I was trying set the api token using environment variable, and it's not working.

You must run `tugboat authorize` in order to connect to DigitalOcean

[2016-02-02 08:21] petems commented on #176
Which version of tugboat are you using? That works for me:

[code]

[2016-02-02 12:52] stalluri commented on #176
Thanks Peter for your quick response. Much appreciated.
Here is the output :

[neptune@ip-10-0-0-120 ~]$ which tugboat
/usr/local/bin/tugboat
[neptune@ip-10-0-0-120 ~]$ DO_API_TOKEN=REDACTED tugboat droplets
You must run `tugboat authorize` in order to connect to DigitalOcean
[neptune@ip-10-0-0-120 ~]$ tugboat version
Tugboat 2.2.0

[2016-02-14 17:21] tribou opened #234 "`tugboat create` with options is not picking up default ssh key"
`Tugboat 2.2.0`

After new tugboat installation, I encountered this:

[code]

My `~/.tugboat` file has the following entry (`access_token` redacted):

[code]

However, when I manually specify the key with the `-k #######` param, it works.

[2016-02-14 17:22] petems commented on #234
Can you try with `ssh_key: ['1690771']`?

I think I need to fix up that logic because it assumes it's an array...

[2016-02-14 17:29] tribou commented on #234
Now the error is this:

[code]

[2016-02-15 15:02] petems commented on #234
Hi @tribou!

Can you checkout this repo and try creating a droplet on the `fix_ssh_key_array_from_config` branch?

I think I've fixed it there, and added a PR to make the change and update the docs: #235, #236

After that I'll push out the update as Tugboat 2.2.1 (bugfix)

[2016-02-15 15:15] petems commented on #71
Got some basic ideas for having timeout as a config option here, should finish work on it soon:

https://github.com/pearkes/tugboat/tree/allow_timeout_setting

[2016-02-16 12:49] petems commented on #234
This should be fixed in v2.2.1, can you check for me @tribou?

[2016-02-16 14:46] tribou commented on #234
Here's what I found with v2.2.1:

[code]

I didn't go through the `authorize` process again, but I assume it populates one of the latter two `ssh_key` entries now?

[2016-02-16 14:48] petems commented on #234
I need to double check the authorize process. But I should probably put in a `to_s` fix so people can user plain numbers...

[2016-02-16 15:26] petems commented on #234
Fix for fixnum in https://github.com/pearkes/tugboat/pull/240

[2016-02-16 15:29] petems commented on #234
Fix for authorize prompting to be given an array: https://github.com/pearkes/tugboat/pull/241

[2016-02-28 16:38] rodrigoaguilera opened #242 "Domain and records support"
It would be nice to also support manipulation of domain records matching just the domain name instead of the domain id like the api supports

[2016-05-27 16:01] vladimirghetau opened #245 "API call to add ssh keys"
Hello All,

At the moment I cannot add SSH keys via the API, is this feature coming anytime soon? I see v2 of the DO api supports this here:

https://developers.digitalocean.com/documentation/v2/#create-a-new-key

This would be great to have, it helps quite a lot with the provisioning.

Many thanks,
Vlad

[2016-05-27 16:15] petems commented on #245
@vladimirghetau: What version of tugboat do you have? That should be avaliable as the `add-key` function!

[code]

[2016-05-27 16:17] vladimirghetau commented on #245
Excellent!

I am using the latest version, installed via gem, however this add-key wasn't in the README documentation.

All good now, I tried it and it's there. Super product!

Vlad

[2016-05-27 16:19] petems commented on #245
Thanks! Yeah, I don't think our docs have kept up with our features, I'll add that one in now 👍

[2016-05-27 22:22] #245 closed

[2016-06-16 23:54] zlanich opened #247 "Does Tugboat Support Multiple Teams Yet?"
I'm a member of 2 DO teams and I can only see Droplets for one of my teams.

[2016-07-09 15:59] tjcrandall commented on #78
Tagging droplets is now possible through the DigitalOcean API, so integrating into Tugboat should be straightforward: https://developers.digitalocean.com/documentation/v2/#tags

[2016-07-09 16:54] petems commented on #78
That's pretty cool, should be fairly easy to implement as you say. I might be able to get a basic implementation done on Sunday :)

[2016-07-14 20:21] petems commented on #247
@zlanich Is that possible through the API? I thought each key only allows access to one team

[2016-07-14 20:21] #234 closed

[2016-08-17 21:33] marrie opened #248 "feature request: have tugboat support the block storage api"
I'm new to tugboat and am loving it.  I wonder though can the block storage thing be supported now that it is out of beta? I know  that digital ocean's api supports  that and I've ben using it. However tugboat for me is an easier interface as I  can control my droplet on my mac with out using digital ocean's less then stellar website for screen readers.

[2016-08-18 18:37] petems commented on #248
@marrie Hi Marrie! It's awesome to hear that Tugboat has helped you out accessibility-wise.

To be honest, there isn't a huge amount of active development on Tugboat right now, I'm pretty busy with work things recently. I might take a stab at implementing this if I get some slack time.

In the meantime, Digital Ocean created their own CLI tool, not sure if they have full storage support yet?
https

[2016-08-18 18:59] marrie commented on #248
They did, and I have it, however the commands are so long I  an never remember them. Lol! Who knows maybe someone is working on it in tugboat and will submit it to a separate branch. I can't code with beans, but still love the app.

Thoughts anyone?

[2016-10-05 17:38] marrie opened #249 "suggestion: ability to list and remove snapshots usign tugboat"
If this is already in the works that would be wonderful. If someone is already working on this feel free to comment here.

It would be nice if the ability to list and remove  snapshots of a droplet  using the tugboat app as the site is workable for me but annoying to work with from an accessibility stand point, plus the command line is better for me to see if something broke.

Thoughts?

[2016-10-06 15:00] mikedevita commented on #247
each key is separate for each team, i would think do would need to release the concept of global keys... but idk

[2016-10-06 17:18] zlanich commented on #247
I'm not certain off the top of my head if the API has team support with one API key, but even if you need separate API keys, it would be nice to be able to configure multiple keys, one for each team and to either be able to use a flag to specify which team you're administering or for it to do so automatically if possible.

Best Regards,

Zach Lanich
Business Owner, Entrepreneur, Creative
Owner/Lea

[2016-10-06 19:53] mikedevita commented on #247
agreed, some support would be nice, each key is individual to each team i just tested it.

[2016-10-06 20:09] zlanich commented on #247
I wish I knew a lick of Ruby. I would have looked into it a while ago lol.

Best Regards,

Zach Lanich
Business Owner, Entrepreneur, Creative
Owner/Lead Developer
weCreate LLC
www.WeCreate.com

[2016-10-06 20:36] mikedevita commented on #247
i know enough to get dangerous lol not enough to consider worthy on contributing any good code though.

Sent from my iPhone

[2016-10-07 15:12] zachlebar commented on #249
I second this. I'd love to be able to script both the creation and the deletion of snapshots.

[2016-10-07 18:26] petems commented on #249
Hi all! I havent had a good hack session in a while, so ill see if i can get a basic implementation done possibly over this weekend, no promises! 😄

[2016-10-08 19:02] petems commented on #248
This is currently blocked by implementing block storage in Barge:
https://github.com/blom/barge/issues/17

Will see if I can hack on implementing it in Barge and then come back to this 👍

[2016-10-08 19:09] petems commented on #247
@zlanich @mikedevita It's possible to implement this, just not sure of the UX. Any ideas appreciated?

Would something like an environmental flag be good?

`TUGBOAT_TEAM=developers tugboat create awesome_app_server`

With a config with multiple team entries:

[code]

As a workaround for now, you could have multiple entries in the ~/.tugboat file and change by commenting and uncommenting for now

[2016-10-08 19:16] petems commented on #249
This is currently blocked by https://github.com/blom/barge/issues/18, need to implement Snapshot API stuff in barge! 👍

[2016-10-08 19:26] mikedevita commented on #247
Yeah that would be good and if no team is specified it'd work as normally expected.

Sent from my iPhone

[2016-10-08 19:41] petems opened #250 "Change to droplet_kit for API"
Right now we haven't kept parity with DigitalOcean's new API features in the API gem we're using  Barge (See #249, #248)

At the time we moved, DigitalOcean didn't have a Gem for the API.

Now there is! https://github.com/digitalocean/droplet_kit/

The API for accessing is almost 1:1, plus it's maintained by DO themselves. It would make sense to move over to this so we don't have to implement all

[2016-10-08 19:55] petems commented on #250
Currently blocked on exposing faraday: https://github.com/digitalocean/droplet_kit/issues/102

[2016-10-08 22:01] mrjcleaver opened #251 "This compared to doctl?"
As Digital Ocean have an official CLI, what's the future of tugboat?

https://github.com/digitalocean/doctl

https://github.com/digitalocean/doctl/pull/70

[2016-10-09 17:13] petems commented on #251
@mrjcleaver I was actually thinking about this recently.

**tl;dr:** If you want the best support and the latest features, doctl is always going to be the bleeding edge. But as long as there is at least one user out there that finds Tugboat useful I will keep tinkering and maintaining 😄

I'm going to write a longer screed and add it to the README for context, I actually hadn't worked on Tugboat fo

[2016-10-09 17:41] #251 closed

[2016-10-19 10:53] vladimirghetau opened #253 "specify configuration file path"
At the moment tugboat looks for its config file in ~/.tugboat.

Any chance we can specify the config file path in each call, or at least have it as an alternative specificed as an env var?

If the .tugboat is not found, I get something like this as well:

[code]

Would be great if it just returned an error code.

[2016-10-19 15:02] petems commented on #253
What command are you running and getting that error? Normally Tugboat catches the file missing

You can specify the environment variable `TUGBOAT_CONFIG_PATH` to specify a specific location for a tugboat config file.

It will also look for a `.tugboat` file in the current directory.

I'll open a PR to add this to the docs 👍

[2016-10-19 15:13] vladimirghetau commented on #253
Many thanks, it seems it actually picks up the config file, but ruby still throws this error:

Is there a bug in parsing the config file?

[2016-10-19 15:16] petems commented on #253
Hmm, possibly. Can you post your config file here, redacted API key if needed?

[2016-10-19 15:19] vladimirghetau commented on #253
`tugboat config`

[2016-10-19 17:01] petems commented on #253
@vladimirghetau Can you also post the raw yaml into this ticket?

Also, what command are you running to get the error?

[2016-10-19 17:16] vladimirghetau commented on #253
@petems many thanks, I am running latest tugboat version, ubuntu 14.04, ruby 2.3.1, and this error comes with any command ( in this instance it's `tugboat images` ).

I can prevent the error by sending the command from the exact folder where the config file is located, but the only way to replicate this error is using Jenkins or by navigating in a different folder than the one where .tugboat resid

[2016-10-19 17:19] petems commented on #253
Ah, yeah it could be a Ruby 2.3.1 issue, I remember there being a frozen string issue with 2.3.1

https://wyeworks.com/blog/2015/12/1/immutable-strings-in-ruby-2-dot-3

Let me see if I can test that

[2016-10-19 17:29] petems commented on #253
@vladimirghetau Can you run with `DEBUG=1` for me?

[2016-10-19 17:51] vladimirghetau commented on #253
I actually did, it seems the ruby component fails before the `DEBUG=1` is even considered.

My assumption is it fails to process the content of the file due to some character that it doesn't understand while using a string function native to ruby.

A way to replicate this would be:

- get a clean vm, install ruby and then `gem install tugboat`
- run `tugboat authorize`, the error will show up, see

[2016-10-19 17:55] petems commented on #253
An isolated VM would be awesome, I can't replicate on my machine with OSX Ruby 2.3.1

[2016-10-20 15:02] vladimirghetau commented on #253
thanks @petems - trying to find an email or any way of contacting you privately and cannot. Any chance you can email me a DM on twitter (just followed you).

[2016-10-20 15:21] petems commented on #253
@vladimirghetau Cool, followed back! 👍

[2016-10-26 21:57] petems commented on #253
Thanks for the machine, it looks like a non related issue to Tugboat, it turns out the problem was an old version of Rubygems (See https://github.com/bundler/bundler/issues/3187)

[code]

[2016-10-27 04:28] tylermolamphy commented on #242
+1, I would like to see this to. I'm reviewing the code to see if I know enough to add it myself but this would be my first Ruby work. @petems is this a planned feature?

[2016-10-27 09:07] petems commented on #242
@tylermolamphy This is planned but I'm pretty swamped with work right now so I'm not actively working on it.

[2016-11-02 23:27] #253 closed

[2017-07-03 11:09] petems opened #270 "Cross-site Scripting (XSS) Through Unescaped JSON String in petems/tugboat (master)"
# [Cross-site Scripting (XSS) Through Unescaped JSON String in petems/tugboat (master)](https://petems.sourceclear.io/teams/000t7aj/issues/vulnerabilities/1848257/966993)

## Issue Details

- **Vulnerability**: Cross-site Scripting (XSS) Through Unescaped JSON String
- **Severity**: Medium
- **Project**: petems/tugboat
- **Branch**: master
- **Scan Date**: Jul 3, 2017 12:01:10

## Issue Decription

[2017-07-03 11:12] petems opened #271 "Insecure Storage Of Cache Files in petems/tugboat (master)"
# [Insecure Storage Of Cache Files in petems/tugboat (master)](https://petems.sourceclear.io/teams/000t7aj/issues/vulnerabilities/1848257/966994)

## Issue Details

- **Vulnerability**: Insecure Storage Of Cache Files
- **Severity**: Low
- **Project**: petems/tugboat
- **Branch**: master
- **Scan Date**: Jul 3, 2017 12:01:10

## Issue Decription
RuboCop does not store cache files securely. It stor

[2017-07-03 11:21] petems opened #272 "Arbitrary Code Injection Or Denial Of Service (DoS) Through Unsafe Middleware in petems/tugboat (master)"
# [Arbitrary Code Injection Or Denial Of Service (DoS) Through Unsafe Middleware in petems/tugboat (master)](https://petems.sourceclear.io/teams/000t7aj/issues/vulnerabilities/1848257/967002)

## Issue Details

- **Vulnerability**: Arbitrary Code Injection Or Denial Of Service (DoS) Through Unsafe Middleware
- **Severity**: High
- **Project**: petems/tugboat
- **Branch**: master
- **Scan Date**: J

[2017-07-03 11:45] #270 closed

[2017-07-03 12:43] #272 closed

[2017-07-03 15:35] #271 closed

[2017-07-04 00:46] attritionorg commented on #271
Base issue for reference: https://github.com/bbatsov/rubocop/issues/4336

[2017-07-13 10:13] mxdpeep opened #279 "tugboat stopped working"
$ ruby --version
[code]

$ tugboat droplets
[code]

[2017-07-13 11:02] petems commented on #279
Ah, I had already fixed this for 2.4.1, but haven't released it yet! https://github.com/petems/tugboat/pull/277

Releasing now as 3.1.0, can you test it for me? 😄

[2017-07-18 21:28] mxdpeep commented on #279
fixed!

[2017-07-18 21:28] #279 closed

[2017-07-18 21:29] mxdpeep opened #280 "snapshot not working"
$ tugboat snapshot xxx.gscloud.cz
Tugboat attempted to find a droplet with no arguments.
Try running `tugboat snapshot dropletname`
For more help run: `tugboat help snapshot`

[2017-07-18 21:45] petems commented on #280
@mxdpeep snapshot requires the exact name or ID of a droplet (no fuzzy matching):

The help needs updating however:

[code]

[2017-11-22 11:50] petems commented on #250
Starting move on some of the larger code blocks with the merge of #284 and the bump to 4.0.0

[2017-11-22 12:56] #280 closed

[2017-11-22 12:58] petems commented on #71
Timeout setting added in #281, and 4.0.0 switches to DropletKit which anecdotally seems to fix some of the timeout issues.

This is fairly old so I'm going to close this one for now. If this is still an issue can you open a new issue for me and we can work further on it.

[2017-11-22 12:59] #71 closed

[2017-11-22 13:04] petems commented on #124
I would love to add this but I don't have the bandwidth right now. If someone wants to add it, feel free to PR

Right now, a workaround would be to set the environment variable like so: `TUGBOAT_CONFIG_PATH=~/.config/tugboat`

[2017-11-22 13:04] #124 closed

[2017-11-22 14:23] #4 closed

[2017-11-22 14:26] petems commented on #120
Only took over 3 years but initial minimal version of the feature has been added here! #291

[2017-12-03 15:59] petems commented on #128
This is actually feature not a big, the quiet option is to perform the steps without any output, mainly useful for actions with a changeing state (eg. creating droplets, shutting down droplets etc.)

It's less useful for commands that are expected to have output, like listing droplets.

I suppose a better option would've been to call this silent, I'll open a PR to change the name.

[2017-12-03 16:01] #128 closed

[2017-12-03 21:08] petems commented on #206
@adamierymenko Are you still using tugboat? Bit late now (2 years!) but I finally got this working now:

[code]

Got it up as a PR here: https://github.com/petems/tugboat/pull/294

[2017-12-03 23:24] petems commented on #206
@psobot Also liked this issue, are you interested in trying this?

I've just merged this into master, any problems feel free to open a new issue or PR 👍

[2017-12-03 23:24] #206 closed

[2017-12-05 13:21] #120 closed

[2017-12-05 14:06] #51 closed

[2019-08-30 21:00] tajaysingh opened #299 "I am getting "Failed to create Droplet: found unpermitted parameters: backups_enabled""
We use tugboat on our build server which spins droplet before running our test. I started noticing the error **Failed to create Droplet: found unpermitted parameters: backups_enabled** during droplet creation.

I am able to reproduce the issue in my local machine as well after I installed Tugboat 4.1.0 and ran **tugboat create pearkes-www-002 -s 2gb -r nyc3 -i 45439794** from the terminal.

Follow